<div class="add-view">

	<div data-role="navigation-bar" data-name="navigation-bar">
		<div data-role="button" data-name="cancel-button">Cancel</div>
		<div data-role="title">Add</div>
		<div data-role="button" data-name="save-button" data-option-style-name="active">Save</div>
	</div>

	<div data-role="view-content">

		<h2>Title:</h2>
		<ul data-role="list" data-option-style-name="grouped" data-option-selectable="false">
			<li data-role="list-item">
				<input type="text" class="title-input" />
			</li>
		</ul>

		<h2>Description:</h2>
		<ul data-role="list" data-option-style-name="grouped" data-option-selectable="false">
			<li data-role="list-item">
				<textarea class="descr-input"></textarea>
			</li>
		</ul>

	</div>

</div>