
/* Navigation Bar
-----------------------------------------------------------------------------*/

.bar.navigation-bar > .bar-item .bar-title {
	position: static;
}

.bar.navigation-bar > .bar-item .bar-title .text {
	bottom: 0px;
	left: 0px;
	top: 0px;
	position: absolute;
	text-align: center;
	right: 0px;
}

/* Home View
-----------------------------------------------------------------------------*/

.view.home-view .home-view-content {
	padding: 12px;
}

/* Add View
-----------------------------------------------------------------------------*/

.view.add-view .add-view-content {
	padding: 12px;
}

.view.add-view input,
.view.add-view textarea {
	outline: none;
	font-size: 17px;
	font-weight: bold;
	border: none;
	width: 100%;
}

.view.add-view textarea {
	height: 100px;
}

/* Fact View
-----------------------------------------------------------------------------*/

.view.fact-view .fact-view-content {
	padding: 12px;
}